<% javascript :defaults, 'delegate' %>
 
<%= error_messages_for :ricetta %>
 
<% form_for @ricetta do |ricetta_form| -%>

  <% content_for :jstemplates do -%>
    <%= "var ingrediente='#{generate_template(ricetta_form, :ingredienti)}'" %>
  <% end -%>
  <p>
    <%= ricetta_form.label :titolo %>
    <%= ricetta_form.text_field :titolo %> &nbsp; 
  </p>
  <p>
    <%= ricetta_form.label :fonte %>
    <%= ricetta_form.text_field :fonte, :size => 90 %>
  </p>
  <p>
    <%= ricetta_form.label :categoria_id, "Categoria" %>
    <%= ricetta_form.collection_select(:categoria_id, Categoria.all, :id, :nome) %>
  </p>
  <div id="left_column">
    <strong>Ingredienti</strong>
    <div id="ingredienti">
      <% ricetta_form.fields_for :ingredienti do |ingr_form| %>
        <%= render :partial => 'ingrediente', :locals => { :f => ingr_form} %>
      <% end %>
    </div>
    <p>
      <%= link_to 'Aggiungi ingrediente', '#ingrediente', :class => "add_nested_item", :rel => "ingredienti" %>
    </p>
  </div>
  <div id="right_column">
    <strong>Istruzioni</strong>
    <p><%= ricetta_form.text_area :istruzioni, :cols => 53 %></p>
  </div>
   
  
  <p>
    <%= ricetta_form.submit "Salva" %>
  </p>
<% end -%>
